.header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}



.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    margin: 4px 0 0;
}

.header__navbar-item{
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

/* header user */

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-avatar {
    width: 22px;
    height: 22px;
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
    box-sizing: border-box;
}

.header__navbar-user-img {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.header__navbar-user-img--icon {
    width: 12px;
    height: 12px;
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn linear 0.2s;
}

.header__navbar-user-menu::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 22px;
    top: -20px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 12px 12px;
    display: block;
    border-top-left-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
    color: #00bfa5;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
/* end header user */

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    display: inline-flex;
    align-items: center;
}

.header__navbar-item-link{
    display: flex;
}

.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--strong{
    font-weight: 400;
}

.header__navbar-item--sperate::after{
    content: "";
    display: block;
    position: absolute;
    border-right: 1px solid #FB9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    display: flex;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header Qr code */

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* header with searh */
.header-with-search{
    height: var(--header-with-seach-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    
}

.header__search {
    height: 40px;
    flex: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

/* Header cart */

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0px 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 2px);
    right: 3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    animation: fadeIn linear 0.2s;
    cursor: default;
}

.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 2px;
    top: -26px;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-no-cart {
    padding: 28px 0;
}

.header__cart-img-no-cart {
    width: 100px;
    height: 100px;
    
}

.header__cart-no-cart-msg {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-top: 12px;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: #fb5533;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 20px;
    border: 2px solid #EE4D2D;
    top: -4px;
    right: 0px;

}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: rgba(0,0,0,.26);
    text-transform: capitalize;
    font-weight: 300px;
}

.header__cart-list-item {
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header__cart-item {
    display: flex;
    /* align-items: center; */
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-item-img {
    background-image: url(https://cf.shopee.vn/file/07a4e4ca122ffd5ab5045f391cd046a0_tn);
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    border: 1px solid rgba(0,0,0,.09);
    margin: 12px;
}

.header__cart-item-info {
    flex: 1;
    margin-right: 12px;
    margin-top: 12px;
    overflow: hidden;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ee4d2d;
}

.header__cart-footing {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    text-transform: capitalize;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 300;
    color: var(--text-color);
}

.header__cart-more-item {

}

/* Header search */

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
   
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}


.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option {
    position: absolute;
    right: 0%;
    top: 120%;
    left: -5%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding: 0;
    border-radius: 3px;
    display: none;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -15px;
    left: 0%;

    height: 20px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    border-radius: 3px;
    background-color: var(--white-color);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item-active
.checked {
    display: inline-block;
    color: #fb5533; 
}

.header__search-input:focus ~ .header__search-history{
     display: block;
}

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    overflow: hidden;
    display: none;
}

.header__search-history-title {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin:6px 0 0 ;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;   
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}