/* shopping cart header */

.shopping__cart {
    background-color: #f5f5f5;
    height: 100%;
}

.shopping-conten {
}

.shopping__cart-header {
    margin-top: 30px;
    
}

.shopping__cart-header-box {
    display: flex;
    /* flex: 1; */
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    height: 55px;
    font-size: 14px;
    background: #fff;
    text-transform: capitalize;
    margin-bottom: 12px;
    color: #888;
    padding: 0 20px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
 
}

.shopping__cart-label-sp {
    width: 46.27949%;
}

.shopping__cart-label-action {
    display: flex;
}

.shopping__cart-label-price {
    width: 10.88022%;
    text-align: center;
}
.shopping__cart-label-quantity {
    width: 15.4265%;
    text-align: center;
}
.shopping__cart-label-quantityPrice{
    width: 10.43557%;
    text-align: center;
}
.shopping__cart-label-anipulation {
    width: 16.70417%;
    text-align: center;
}

/* shopping cart main */

.shopping__cart-main {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
    background: #fff;
    margin-bottom: 15px;
    overflow: visible;
}

.shopping__cart-list {
    position: relative;
    padding-bottom: 1px;
}

.shopping__cart-item {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    display: block;
    padding: 0 20px;
    margin-top: 15px;
    
}

.shopping__cart-product {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.shopping__cart-item:last-child .shopping__cart-product {
    border-bottom: none;
}

.shopping__cart-product-detail {
    width: 29.03811%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.shopping__cart-product-info {
    display: flex;
    color: rgba(0,0,0,0.8);
}

.shopping__cart-product-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 80px;
    height: 80px;
}

.shopping__cart-product-name {
    flex-direction: column;
    padding: 5px 0px 0 10px;
    font-size: 13px;
    line-height: 13px;
    width: 243.5px;
    overflow: hidden;
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    margin-bottom: 5px;
    max-height: 32px;
    text-overflow: ellipsis;
    word-break: break-word;
}

.shopping__cart-product-type {
    display: flex;
    align-items: center;
    width: 17.24138%;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: rgba(0,0,0,0.54);
}

.shopping__cart-product-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.88022%;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.shopping__cart-product-originalPrice {
    color: rgba(0,0,0,0.54);
    margin-right: 10px;
    text-decoration: line-through;
}

.shopping__cart-product-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.4265%;
}

.shopping__cart-product-totalPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.43557%
}

.shopping__cart-product-totalPrices {
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #ee4d2d;
    font-weight: 400;
    
}

.shopping__cart-product-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(12.70417% + 58px);
    text-transform: capitalize;
}

/* shopping cart footer */

.shopping__cart-footer {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 2px;
    background: #fff;
    margin-bottom: 15px;
    overflow: visible;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    
}

.shopping__cart-footer-box {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex: 1;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #222222;
}

.shopping__cart-footer-deleteAll {
    width: 9.7%;
    display: flex;
    justify-content: center;
}

.shopping__cart-footer-favorite {
    width: 16.7%;
}

.shopping__cart-footer-favorite-label {
    color: #ee4d2d;
    margin: 0 8px;
    max-width: 168px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.shopping__cart-footer-price {
    flex: 1;
}

.shopping__cart-footer-price1 {
    display: flex;
    float: right;
}

.shopping__cart-footer-price-label {
    line-height: 30px;
}

.shopping__cart-footer-totalPrice {
    font-size: 24px;
    line-height: 28px;
    margin-left: 5px;
    color: #ee4d2d;
}

.shopping__cart-footer-checkOut {
    width: 21%;
    display: flex;
    justify-content: center;
}

.shopping__cart-no-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 336px;
}

.shopping__cart-no-cart-img {
    width: 110px;
    height: 110px;
}

.shopping__cart-no-cart-label {
    color: rgba(0,0,0,.4);
    font-size: 14px;
    line-height: 16px;
    margin-top: 18px;
    font-weight: 700;
}

.shopping__cart-mobile-footer {
    display: none;
}



/* mobile & tablet */
.shopping__cart-product-mobile {
    display: none;
    justify-content: center;
    align-items: center;
}

.shopping__cart-product-mobile-left {
    width: 100px;
    height: 100px;
}

.shopping__cart-product-mobile-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 100px;
    height: 100px;
}

.shopping__cart-product-mobile-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;
    padding: 5px;
}

.shopping__cart-product-mobile-name {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

   
    
}

.shopping__cart-product-mobile-type {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: rgba(0,0,0,0.54);
}

.shopping__cart-product-mobile-price {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.shopping__cart-product-mobile-quantity {
    display: flex;
    align-items: center;
}
/* end mobile & tablet */